@font-face {							 /*Шрифт Presentscript-cyrillic*/
    font-family: "Presentscript-cyrillic";
    src: url("../fonts/presentscript-cyrillic.ttf");
    src: url("../fonts/presentscript-cyrillic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/presentscript-cyrillic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {							 /*Шрифт Futura-normal*/
    font-family: "Futura-normal";
    src: url("../fonts/futura-normal.ttf");
    src: url("../fonts/futura-normalc.eot?#iefix")format("embedded-opentype"),
    url("../fonts/futura-normal.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {							 /*Шрифт Frutiger*/
    font-family: "Frutiger";
    src: url("../fonts/Frutiger.otf");
    src: url("../fonts/Frutiger.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Frutiger.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body    {margin: 0;background-image: linear-gradient(to top, #F08080 0%, white 60%);-webkit-text-size-adjust:none;}
header {display: block;}
.layout {
    width: 1260px;
    margin: auto;
    position: relative;
}
a {text-decoration: none;color: inherit;}
.navi  {
    background: white;
    height: 90px;
}
.navi img  {
    position: absolute;
    top: 20px;
    left: 80px;
}
.navigation {
    font-family: 'Presentscript-cyrillic';
    position: absolute;
    right: 50px;
    top: 40px;
}
.navigation a    {
    font-size: 14pt;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    border: solid 1px #663399;
    border-radius: 5px;
    color: black;
}
a:hover  {color: #10c9c3;}
.ui {
    display: block;
    height: 356px;
    width: auto;
    background: url("../images/weekly_jump_pic.png");
    border: solid 1px black;
    border-radius: 15px;
    position: relative;
}
.ui_1   {
    font-family: 'Frutiger';
    position:absolute;
    font-size: 64pt;
    left: 35px;
	top: 60px;
    color: #40B3B7;
    margin-top: 5px;
}
.ui_2   {font-size: 18pt; color: #787878;position: absolute;top: 190px;left: 90px;}
.ui div {
    margin-top: 120px;
    margin-left: 100px;
    width: 300px;
}
.body_layout    {
    display: block;
    position: relative;
    min-height: 170vh;
}
.manga_catalog {
    display: -webkit-flex;
    display: flex;
    color: black;
    position: absolute;
    left: 100px;
	margin-top: 30px;
	width: 1260px;
    font-family: 'Futura-normal';
    font-size: 10pt;
}
.manga_catalog div	{
	padding: 3px;
	margin-right: 40px;
}
.manga_catalog div h2:hover {color: darkorange}
.manga_catalog img {border: ridge 3px black;}
.manga_catalog div h2 {text-align: center;margin-top: 5px; color: #10c9c3;font-size: 16pt;}
.news_sidebar   {                                          /*News sidebar*/
    display: block;
    position: absolute;
    top: 0;
    width: 200px;
    left: 0;
    color: #787878;
    border: solid 1px #663399;
    border-radius: 15px;
    text-align: center;
    height: 720px;
    background: #F5FFFA;
}
.news_sidebar iframe    {
    border: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 650px;
}
.main_block {
    display: block;
    width: 800px;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 25px;
}
.main_block_element {
    position: relative;
    display: block;
    width: auto;
    border-top: solid 1px #10c9c3;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.main_block_element img {
    display: block;
    float: left;
    padding: 5px;
    border: solid 1px #040404;
    left: 30px;
}
.main_block_element_description {width: 600px;min-height: 310px;}
.main_block_element_genre   {
    display: block;
    float: right;
    right: 0;
    width: 100px;
    border-left: solid 1px #787878;
    padding: 5px;
    top: 50px;
    min-height: 180px;
}
.main_block_element_genre h4    {margin-top: 10px;margin-bottom: 10px;}
.main_block_element a h2  {
    font-family: 'Futura-normal';
    font-size: 16pt;
    margin-top: 0;
    margin-left: 200px;
    color:#004e92;
    width: 420px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: solid 1px #004e92;
}
.main_block_element a h2:hover {color: #30cfd0;}
.main_block_element p   {margin-left: 202px;width: 428px;}
.index_pages    {
    width: auto;
    height: 35px;
    text-align: center;
    margin-bottom: 5px;
}
.index_pages_button {
    font-family: 'Presentscript-cyrillic';
    font-size: 14pt;
    color:white;
    background:#004e92;
    padding: 9px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 5px;
    margin-right: 5px;
    border: solid 1px black;
}
.index_pages_button_current {
    font-family: 'Presentscript-cyrillic';
    font-size: 14pt;
    color:white;
    background:#663399;
    padding: 9px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 5px;
    margin-right: 5px;
    border: solid 1px black;
}
.Watch_button   {
    display: block;
    font-family: 'Futura-normal';
    position: absolute;
    font-size: 14pt;
    right: 0;
    bottom: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: linear-gradient(to right, #314755 0%, #004e92 100%);
    border: solid 1px #663399;
    border-radius: 5px;
    color: white;
}
.adv    {                                                   /*ADV*/
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    color: #787878;
    border: solid 1px #663399;
    border-radius: 15px;
    text-align: center;
    height: 720px;
    background: #F5FFFA;
}
.top_of_anime   {
    display: block;
    position: absolute;
    top: 730px;
    left: 0;
    width: 200px;
    color: #787878;
    border: solid 1px #663399;
    border-radius: 15px;
    height: 310px;
    background: #F5FFFA;
}
.top_of_anime h4  {
    text-align: center;
}
.top_of_anime ul{
    color: black;
    width: 200px;
    margin-left: 5px;
    padding-left: 5px;
}
.top_of_anime li{
    padding-top: 5px;
    list-style-type: none;
    font-size: 11pt;
}
footer  {
    display: block;
    height: 55px;
    background: #040404;
    bottom: 0;
    border: solid 1px #040404;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.flex-container {
    /*генерирует flex-контейнер уровня блока*/
    display: -webkit-flex;
    display: flex;
    color: #787878;
    position: absolute;
    left: 200px;
    font-family: 'Futura-normal';
    font-size: 10pt;
}
.sasuke	{background: url("../images/wj_bg_2.png") no-repeat; position: fixed; left: 40px;bottom: 30px;width: 250px; height:250px;padding: 0;z-index: -1;}
.kisame	{background: url("../images/wj_bg_1.png") no-repeat; position: fixed; right: 40px;bottom: 30px;width: 250px; height:250px;padding: 0;z-index: -1;background-size: cover;}
#Rights {margin-left: 150px;margin-top: 10px;}
#Mellriart {margin-top: 23px;}
#Piroll {color:#10c9c3;margin-top:20px;font-size: 12pt;width: 360px;}


