@import url('https://fonts.googleapis.com/css?family=Comfortaa|Exo+2|Gloria+Hallelujah&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    -webkit-text-size-adjust: none;
}

header {
    display: block;
}

@media screen and (max-width: 768px) {
    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }

    .layout {
        margin: auto;
        position: relative;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .navi {
        background-color: white;
        top: 0;
        z-index: 1000;
        width: 100%;
        position: fixed;
        border-bottom: solid 1px #dfe9f3;
        height: 43px;
    }

    .navi :first-child,
    .weeklysaver_link,
    .mobile_menu_button {
        display: inline-block;
    }

    .animesaver_link {
        margin-left: 5%
    }

    .navi :first-child img, .weeklysaver_link img {
        width: 43px
    }

    .weeklysaver_link {
        margin-left: 26%
    }

    .visuallyHidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px; width: 1px;
        margin: -1px; padding: 0; border: 0;
    }

    .container {
        display: inline;
    }

    .menu-icon {
        position: relative;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 30px;
        height: 21px;
        margin-left: 33%;
    }
    .menu-icon .dot {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 7px;
        height: 7px;
        background-color: #004e92;
        border-radius: 7px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: margin 0.4s ease 0.4s, width 0.4s ease;
        -moz-transition: margin 0.4s ease 0.4s, width 0.4s ease;
        -o-transition: margin 0.4s ease 0.4s, width 0.4s ease;
        transition: margin 0.4s ease 0.4s, width 0.4s ease;
    }
    .menu-icon .dot:nth-of-type(1) {
        margin-top: -10px;
        margin-left: -12px;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -moz-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        -o-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .menu-icon .dot:nth-of-type(2) {
        margin-top: -10px;
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -moz-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
        -o-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .menu-icon .dot:nth-of-type(3) {
        margin-top: -10px;
        margin-left: 12px;
    }
    .menu-icon .dot:nth-of-type(4) {
        margin-left: -12px;
    }
    .menu-icon .dot:nth-of-type(6) {
        margin-left: 12px;
    }
    .menu-icon .dot:nth-of-type(7) {
        margin-top: 10px;
        margin-left: -12px;
    }
    .menu-icon .dot:nth-of-type(8) {
        margin-top: 10px;
    }
    .menu-icon .dot:nth-of-type(9) {
        margin-top: 10px;
        margin-left: 12px;
    }
    .menu-icon.clicked .dot {
        -webkit-transition: margin 0.4s ease, width 0.4s ease 0.4s;
        -moz-transition: margin 0.4s ease, width 0.4s ease 0.4s;
        -o-transition: margin 0.4s ease, width 0.4s ease 0.4s;
        transition: margin 0.4s ease, width 0.4s ease 0.4s;
        margin-left: 0;
        margin-top: 0;
    }
    .menu-icon.clicked .dot:nth-of-type(1) {
        width: 30px;
    }
    .menu-icon.clicked .dot:nth-of-type(2) {
        width: 30px;
    }

    .mobile_nav {
        height: 100vh;
        background-color: #004e92;
        z-index: 1006;
        color: black;
        display: none;
    }

    .mobile_nav ul  {
        position: relative;
        top: 60px;
        margin-left: 15%;
        margin-right: 20%;
        text-align: center;
    }

    .mobile_nav ul li   {
        margin-top: 10px;
        list-style-type: none;
        font-size: 1em;
        padding: 7px 15px;
        border: solid 1px black;
        border-radius: 5px;
        color: #004e92;
        background-color: white;
    }

    .mobile_nav ul li a {
        display: block;
        height: 100%;
    }

    a:hover {
        color: #10c9c3;
    }

    .body_layout {
        display: block;
        position: relative;
    }

    .main_block {
        display: block;
        width: 100%;
        margin-top: 25px;
    }

    .main_block_element {
        position: relative;
        width: auto;
        border-top: dashed 1px #10c9c3;
        padding-left: 5%;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .main_block_element img {
        display: inline;
        float: left;
        width: 30%;
        padding: 5px;
        border: solid 1px #040404;
        left: 5%;

    }

    .main_block_element_description p {
        text-align: justify;
        max-width: 61%;
        font-size: 0.7em;
        display: block;
        padding-left: 35.5%;
    }

    .main_block_element a h2 {
        font-family: 'Comfortaa', cursive;
        font-size: 0.8em;
        color: #004e92;
        padding: 10px;
        border-radius: 5px;
        border: solid 1px #004e92;
        display: block;
        margin-left: 35%;
        max-width: 56%;
        margin-top: 0;
    }

    .main_block_element a h2:hover {
        color: #30cfd0;
    }

    .index_pages {
        width: auto;
        height: 35px;
        text-align: center;
        margin-bottom: 5px;
    }

    #pagination {
        display: block;
        width: 80%;
        margin: auto;
        text-align: center;
        font-family: 'Exo 2', sans-serif;
        font-size: 1em;
        color: white;
        margin-bottom: 15px;
    }

    #pagination a {
        background: #004e92;
        padding: 9px 11px;
        border-radius: 5px;
        border: solid 1px black;
    }

    #pagination span {
        background: #663399;
        padding: 9px 11px;
        border-radius: 5px;
        border: solid 1px black;
    }

    .Watch_button {
        display: block;
        font-family: 'Comfortaa', cursive;
        font-size: 0.8em;
        margin-left: 70%;
        bottom: 10px;
        width: 20%;
        padding: 7px 15px;
        background-image: linear-gradient(to right, #314755 0%, #004e92 100%);
        border: solid 1px #663399;
        border-radius: 5px;
        color: white;
        text-align: center;
    }

    footer {
        display: block;
        height: 20px;
        background: white;
        bottom: 0;
    }

    .flex-container {
        display: -webkit-flex;
        display: flex;
        color: #787878;
        position: relative;
        font-family: 'Comfortaa', cursive;
        font-size: 0.8em;
    }

    #Rights {
        align-items: center;
        margin: auto;
    }

    #Mellriart,
    #Piroll,
    .top_of_anime,
    .main_block_element_genre,
    .adv,
    .news_sidebar,
    .ui,
    .navigation,
    .preloader,
    .site_description,
    .views {
        display: none;
    }
}

@media screen and (min-width: 769px) {

    .preloader {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background: #dfe9f3;
        z-index: 1001;
    }

    .preloader__image {
        position: relative;
        top: 45%;
        left: 45%;
        width: 300px;
        height: 200px;
        margin-top: -32px;
        margin-left: -32px;
        background: url('../images/Vanilla-1s-280px.gif') no-repeat 50% 50%;
    }

    .loaded_hiding .preloader {
        transition: 0.3s opacity;
        opacity: 0;
    }

    .layout {
        width: 1260px;
        margin: auto;
        position: relative;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .navi {
        background: white;
        height: 90px;
    }

    .navi img {
        position: absolute;
        top: 5px;
        left: 80px;
        width: 90px;
        border: none;
    }

    .mobile_nav ,
    .container,
    .weeklysaver_link,
    .loaded .preloader {
        display: none;
    }

    .navigation {
        font-family: 'Exo 2', sans-serif;
        position: absolute;
        right: 50px;
        top: 40px;
    }

    .navigation a {
        font-size: 14pt;
        padding: 7px 15px;
        margin-left: 15px;
        border: solid 1px #663399;
        border-radius: 5px;
        color: black;
    }

    a:hover {
        color: #10c9c3;
    }

    .ui {
        display: block;
        height: 356px;
        width: auto;
        background: url("../images/anime_pic.jpg");
        border: solid 1px black;
        border-radius: 15px;
        position: relative;
    }

    .ui_1 {
        font-family: 'Gloria Hallelujah', cursive;
        position: absolute;
        font-size: 4.5em;
        left: 95px;
        color: #10c9c3;
        margin-top: -10px;
    }

    .ui_2 {
        font-size: 0.9em;
        color: #787878;
        position: absolute;
        top: 85px;
        left: 120px;
    }

    .body_layout {
        display: block;
        position: relative;
        min-height: 170vh;
        margin-bottom: 30px;
    }

    .news_sidebar {
        display: block;
        position: absolute;
        top: 0;
        width: 200px;
        left: 0;
        color: #787878;
        border: solid 1px #663399;
        border-radius: 15px;
        text-align: center;
        height: 100%;
        background: #F5FFFA;
    }

    .news_sidebar h3, .adv h3 {
        font-size: 0.95em;
    }

    .news_sidebar iframe, .adv iframe {
        border: 0;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        height: 96%
    }

    .main_block {
        display: block;
        width: 800px;
        margin-left: 230px;
        margin-right: 230px;
        margin-top: 25px;
    }

    .main_block_element {
        position: relative;
        display: block;
        width: auto;
        border-top: solid 1px #10c9c3;
        padding-left: 30px;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .main_block_element img {
        display: inline-block;
        padding: 5px;
        border: solid 1px #040404;
        left: 30px;
        vertical-align: top;
    }

    .main_block_element_description {
        display: inline-block;
        width: 450px;
        min-height: 310px;
    }

    .main_block_element_description p {
        text-align: justify;
        font-size: 0.9em;
    }

    .views  {
        display: block;
        font-size: 0.8em;
        color: #8F8F8F;
        width: auto;
        text-align: right;
        margin-right: 15px;
    }

    .main_block_element_genre {
        display: inline-block;
        right: 0;
        width: 100px;
        border-left: solid 1px #787878;
        padding: 5px;
        vertical-align: top;
        min-height: 180px;
    }

    .main_block_element_genre h4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main_block_element_genre span {
        font-size: 0.9em;
    }

    .main_block_element a h2 {
        font-family: 'Comfortaa', cursive;
        font-size: 1em;
        margin-top: 0;
        margin-left: 10px;
        color: #004e92;
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        border: solid 1px #004e92;
    }

    .main_block_element a h2:hover {
        color: #30cfd0;
    }

    .main_block_element p {
        margin-left: 10px;
        width: 428px;
    }

    .main_block_element img {
        width: 150px;
    }

    .index_pages {
        width: auto;
        height: 35px;
        text-align: center;
        margin-bottom: 5px;
    }
                                    /* Удалить после переноса на php */
    .index_pages_button {
        font-family: 'Exo 2', sans-serif;
        font-size: 14pt;
        color: white;
        background: #004e92;
        padding: 9px 11px;
        border-radius: 5px;
        margin-right: 5px;
        border: solid 1px black;
    }

    .index_pages_button_current {
        font-family: 'Exo 2', sans-serif;
        font-size: 14pt;
        color: white;
        background: #663399;
        padding: 9px 11px;
        border-radius: 5px;
        margin-right: 5px;
        border: solid 1px black;
    }

    .Watch_button {
        display: block;
        font-family: 'Comfortaa', cursive;
        position: absolute;
        font-size: 0.8em;
        right: 20px;
        bottom: 10px;
        padding: 7px 15px;
        background-image: linear-gradient(to right, #314755 0%, #004e92 100%);
        border: solid 1px #663399;
        border-radius: 5px;
        color: white;
    }

    #pagination {
        display: block;
        width: 80%;
        margin: auto;
        text-align: center;
        font-family: 'Exo 2', sans-serif;
        font-size: 1em;
        color: white;
        margin-bottom: 15px;
    }

    #pagination a {
        background: #004e92;
        padding: 9px 11px;
        border-radius: 5px;
        border: solid 1px black;
    }

    #pagination span {
        background: #663399;
        padding: 9px 11px;
        border-radius: 5px;
        border: solid 1px black;
    }

    .adv {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        color: #787878;
        border: solid 1px #663399;
        border-radius: 15px;
        text-align: center;
        height: 100%;
        background: #F5FFFA;
    }

    footer {
        position: relative;
        display: block;
        height: auto;
        background: #040404;
        bottom: 0;
        border: solid 1px #040404;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .site_description   {
        color: grey;
        padding: 10px;
        text-align: justify;
        font-size: 0.9em;
    }

    .site_description p {
        margin-bottom: 0;
    }

    .flex-container {
        display: -webkit-flex;
        display: flex;
        color: #787878;
        margin-left: 100px;
        font-size: 0.84em;
        font-family: 'Comfortaa', cursive;
    }

    #Rights {
        margin-left: 145px;
        margin-top: 10px;
    }

    #Rights p   {
        margin-top: 0;
    }

    #Mellriart {
        margin-top: 10px;
    }

    #Piroll {
        color: #10c9c3;
        margin-top: 10px;
        font-size: 0.9em;
        width: 360px;
        margin-right: 80px;
    }
}

