body {
  margin: 0;
  background: #F5F5F5;
  position: relative;
}

@media screen and (min-width: 469px) {                                          /*Стили для компа и планшета*/
  header {
    height: 52px;
    background: #000000;
    margin: 0;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
  }

  .header__navigation {
    width: 1170px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .header__navigation__first_a {
    text-decoration: none;
    margin-right: 15px;
  }

  .header__navigation__first_a__img {
    width: 45px;
    vertical-align: middle;
    margin-top: 3px;
  }

  .header__navigation__first_a__h1 {
    font-family: "Comfortaa-Regular";
    font-size: 2.3em;
    vertical-align: bottom;
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .header__navigation__buttons {
    list-style: none;
    vertical-align: middle;
    display: inline;
    font-family: "Oswald";
  }

  .header__navigation__buttons__li__active {
    display: inline;
    font-size: 1.3em;
    border: solid 1px #71B9FF;
    border-radius: 7px;
    padding: 4px 10px 6px;
    cursor: pointer;
  }

  .header__navigation__buttons__li__active a,
  .header__navigation__buttons__li a {
    text-decoration: none;
    color: white;
  }

  .header__navigation__buttons__li__active a img,
  .header__navigation__buttons__li a img {
    width: 20px;
    margin-right: 5px;
  }

  .header__navigation__buttons__li {
    display: inline;
    font-size: 1.3em;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 7px;
    padding: 4px 10px 6px;
    box-sizing:content-box;
    cursor: pointer;
  }

  .header__navigation__buttons__li:hover {
    border: solid 1px white;
  }

  #autorisation_window {
    position: absolute;
    z-index: 2;
    top: 600px;
    right: 15px;
    display: none;
  }

  #autorisation_window iframe {
    height: 180px;
    width: 200px;
    border: solid 1px black;
    border-radius: 15px;
    background: black;
  }

  .header__navigation form {
    display: inline-block;
    margin: 0;
    margin-left: 6px;
  }

  .header__navigation form button {
    padding: 4px;
    vertical-align: middle;
    border: solid 1px #69ccff;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #69b5ff;
  }

  .header__navigation form button img {
    width: 28px;
  }

  .header__navigation form input {
    height: 34px;
    padding-left: 10px;
    border: solid 1px #69ccff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 1em;
  }

  .main_section {
    width: 1170px;
    background: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  }

  .main_section__h3 {
    margin-top: 0;
    padding-top: 15px;
    font-family: 'Comfortaa-Regular';
    font-size: 0.9em;
    padding-left: 30px;
    color: darkgray;
    margin-bottom: 15px;
  }

  .main_section__anime__info {
    background-image: linear-gradient(to right, #E0EAFC 0%, #CFDEF3 51%, #E0EAFC 100%);
    border: solid 1px grey;
  }

  .main_section__anime__info__img {
    display: inline-block;
    width: 33%;
  }

  .main_section__anime__info__img img {
    width: 100%;
    vertical-align: bottom;
    height: 570px;
  }

  .main_section__anime__info__description {
    display: inline-block;
    padding-left: 15px;
    width: 63%;
    vertical-align: top;
    font-family: 'Comfortaa-Regular';
    font-size: 0.9em;
    position: relative;
    height: 570px;
  }

  #addToFavorites,
  #addToWatched {
    position: absolute;
    width: 30px;
    right: -20px;
    cursor: pointer;
    top: 5px;
  }

  #addToWatched {
    top: 40px;
  }

  .main_section__anime__info__description__p {
    font-weight: bold;
    margin: 0;
  }

  .main_section__anime__info__description__p span {
    font-weight: normal;
    font-family: sans-serif;
    color: darkslategray;
  }

  .main_section__anime__info__description__genres,
  .main_section__anime__info__description__desc {
    font-weight: bold;
  }

  .main_section__anime__info__description__genres span,
  .main_section__anime__info__description__desc span {
    font-weight: normal;
    font-family: sans-serif;
    color: darkslategray;
  }

  .main_section__anime__info__description__genres a {
    text-decoration: none;
  }

  .main_section__anime__info__description__genres a span {
    padding: 5px;
    background: white;
    border-radius: 10px;
  }

  .main_section__anime__info__description__genres a span:hover {
    background-image: linear-gradient(to right, #EDE574 0%, #E1F5C4 51%, #EDE574 100%);
  }

  .main_section__anime__info__description__another {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .main_section__anime__info__description__another__prev_series,
  .main_section__anime__info__description__another__next_series {
    border: solid 1px #9e9e9e;
    width: 367px;
    background-color: #f5f5f5;
    margin-bottom: 15px;
    border-radius: 15px;
    display: inline-block;
  }

  .main_section__anime__info__description__another__prev_series:hover,
  .main_section__anime__info__description__another__next_series:hover {
    background-image: linear-gradient(to right, #EDE574 0%, #E1F5C4 51%, #EDE574 100%);
  }

  .main_section__anime__info__description__another__prev_series__div_img,
  .main_section__anime__info__description__another__next_series__div_img {
    display: inline-block;
  }

  .main_section__anime__info__description__another__prev_series__div_img__img,
  .main_section__anime__info__description__another__next_series__div_img__img {
    width: 112px;
    height: 156px;
    vertical-align: bottom;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .main_section__anime__info__description__another__prev_series__description,
  .main_section__anime__info__description__another__next_series__description {
    vertical-align: top;
    display: inline-block;
    width: 68.1%;
    margin-left: auto;
    position: relative;
    height: 156px;
  }

  .main_section__anime__info__description__another__prev_series__description_np {
    height: 25px;
    width: 100px;
    background: darkslategrey;
    padding-left: 15px;
  }

  .main_section__anime__info__description__another__prev_series__description_np img,
  .main_section__anime__info__description__another__next_series__description_np img {
    vertical-align: bottom;
    width: 25px;
  }

  .main_section__anime__info__description__another__prev_series__description_np span,
  .main_section__anime__info__description__another__next_series__description_np span {
    color: white;
    font-family: 'Oswald';
    vertical-align: top;
  }

  .main_section__anime__info__description__another__prev_series__description a,
  .main_section__anime__info__description__another__next_series__description a {
    text-decoration: none;
    color: black;
  }

  .main_section__anime__info__description__another__prev_series__description_title,
  .main_section__anime__info__description__another__next_series__description_title  {
    font-family: "Comfortaa-Regular";
    font-size: 1em;
    padding-left: 7px;
  }

  .main_section__anime__info__description__another__prev_series__description__series,
  .main_section__anime__info__description__another__next_series__description__series {
    position: absolute;
    bottom: 0;
    border-top: solid 1px grey;
    width: 94%;
    font-weight: bold;
    padding-left: 10px;
    font-size: 1em;
  }

  .main_section__anime__info__description__another__prev_series__description__series a,
  .main_section__anime__info__description__another__next_series__description__series a {
    text-decoration: none;
    color: #1E90FF;
  }

  .main_section__anime__info__description__another__prev_series__description__series a img,
  .main_section__anime__info__description__another__next_series__description__series a img {
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
  }

  .main_section__anime__info__description__another__next_series__description_np {
    height: 25px;
    width: 100px;
    background: darkslategrey;
    padding-left: 15px;
    margin-right: 0;
    margin-left: auto;
    border-top-right-radius: 15px;
  }

  .main_section__anime__watch__series {
    width: 100%;
  }

  .main_section__anime__watch__series__left_side {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  .main_section__anime__watch__series__left_side h3 {
    text-align: center;
    font-family: "Comfortaa-Regular";
    color: cornflowerblue;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main_section__anime__watch__series__left_side__flexbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px;
  }

  .main_section__anime__watch__series__left_side__flexbox__element {
    padding: 20px 0;
    border: solid 1px grey;
    background: aliceblue;
    border-radius: 15px;
    font-family: "Oswald";
    width: 50px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  #main_section__anime__watch__series__left_side__flexbox__element__active {
    background: cadetblue;
    color: white;
  }

  .main_section__anime__watch__series__left_side__flexbox__element:hover {
    cursor: pointer;
    background: #EDE574;
  }

  .main_section__anime_watch__series__right_side {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    border-left: solid 1px darkgrey;
  }

  .main_section__anime_watch__series__right_side h3 {
    font-family: "Comfortaa-Regular";
    text-align: center;
  }

  .main_section__anime_watch__series__right_side iframe {
    width: 500px;
    height: 300px;
    margin-left: 35px;
    border: none;
    border: 0;
  }

  .links {
    height: 200px;
    background: #25292b;
  }

  .links__div1 {
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }

  .links__title {
    margin-left: 40px;
    color: #FFF;
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.1em;
    font-family: "Comfortaa-Regular";
  }

  .links__ul {
    list-style: none;
    color: grey;
    font-size: 1em;
    font-family: "Oswald";
  }

  .links__ul li a {
    text-decoration: none;
    color: inherit;
  }

  .links__ul li a img {
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
  }

  .links__div2 {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }

  .links__div3 {
    display: inline-block;
    width: 37%;
  }

  .links__div3 p {
    font-size: 0.75em;
    color: grey;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .links__div3__site_logo {
    margin-left: 148px;
  }

  .links__div3__site_logo img {
    width: 45px;
    vertical-align: middle;
    margin-top: 3px;
    margin-right: 1px;
  }

  .links__div3__site_logo h3 {
    font-family: "Comfortaa-Regular";
    font-size: 2.3em;
    vertical-align: bottom;
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  #to_top_button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
    background: #1E90FF;
    border-radius: 7px;
    padding: 5px 10px;
    opacity: 80%;
    display: none;
  }

  #to_top_button button {
    display: block;
    text-decoration: none;
    color: white;
    background: inherit;
    border: none;
  }

  #to_top_button button img {
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 2px;
  }

  #to_top_button button span {
    font-family: "Oswald";
    font-size: 1.3em;
  }

  footer {
    height: 64px;
    background: #000;
    text-align: center;
  }

  footer div {
    color: #ccc;
    font-size: 0.8em;
    padding-top: 14px;
  }
}

@media screen and (max-width: 469px) {                                          /*Стили для мобильника*/
  header {
    position: relative;
    min-height: 50px;
    background-color: #222;
    border-color: #080808;
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  .header__navigation {
    text-align: center;
  }

  .header__navigation__first_a {
    text-decoration: none;
    margin-left: 15px;
  }

  .header__navigation__first_a__img {
    width: 30px;
    vertical-align: baseline;
    margin-top: 3px;
  }

  .header__navigation__first_a__h1 {
    font-family: "Comfortaa-Regular";
    font-size: 1.7em;
    vertical-align: bottom;
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .header__navigation__buttons {
    list-style: none;
    vertical-align: middle;
    display: inline-block;
    font-family: "Oswald";
    padding: 0;
    margin-top: 10px;
    margin-bottom: 13px;
  }

  .header__navigation__buttons__li__active {
    display: inline;
    font-size: 1em;
    border: solid 1px #71B9FF;
    border-radius: 7px;
    padding: 4px 10px 6px;
    cursor: pointer;
  }

  .header__navigation__buttons__li__active a,
  .header__navigation__buttons__li a {
    text-decoration: none;
    color: white;
  }

  .header__navigation__buttons__li__active a img,
  .header__navigation__buttons__li a img {
    width: 15px;
  }

  .header__navigation__buttons__li {
    display: inline;
    font-size: 1em;
    border-radius: 7px;
    padding: 4px 4px 6px;
    box-sizing: content-box;
    cursor: pointer;
  }

  .header__navigation__buttons__li:hover {
    border: solid 1px white;
  }

  #autorisation_window {
    position: absolute;
    z-index: 2;
    top: 600px;
    right: 15px;
    display: none;
  }

  #autorisation_window iframe {
    height: 180px;
    width: 200px;
    border: solid 1px black;
    border-radius: 15px;
    background: black;
  }

  .header__navigation form {
    display: inline-block;
    margin: 0 0 0 6px;
  }

  .header__navigation form button {
    padding: 4px;
    vertical-align: middle;
    border: solid 1px #69ccff;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #69b5ff;
  }

  .header__navigation form button img {
    width: 28px;
  }

  .header__navigation form input {
    height: 34px;
    padding-left: 10px;
    border: solid 1px #69ccff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 1em;
    width: 290px;
  }

  .main_section {
    background: white;
    margin-right: auto;
    margin-left: auto;
  }

  .main_section__h3 {
    margin-top: 0;
    font-family: "Comfortaa-Regular";
    font-size: 0.9em;
    padding-top: 5px;
    color: grey;
    text-align: center;
    margin-bottom: 5px;
  }

  .main_section__anime__info__img img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    border: solid 1px grey;
  }

  .main_section__anime__info__description {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }

  #addToFavorites,
  #addToWatched {
    position: absolute;
    width: 30px;
    right: 15px;
    cursor: pointer;
    top: 100px;
    border: solid 1px black;
    border-radius: 15px;
    background: black;
    padding: 1px;
  }

  #addToWatched {
    right: 55px;
  }

  .main_section__anime__info__description_title {
    text-align: center;
    font-family: "Comfortaa-Regular";
    font-size: 1.2em;
  }

  .main_section__anime__info__description__p {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .main_section__anime__info__description__p span {
    font-weight: normal;
  }

  .main_section__anime__info__description__genres {
    font-weight: bold;
    line-height: 30px;
  }

  .main_section__anime__info__description__genres a {
    text-decoration: none;
    display: inline-block;
  }

  .main_section__anime__info__description__genres a span {
    padding: 5px;
    background: cornflowerblue;
    border-radius: 10px;
    color: white;
    font-weight: normal;
  }

  .main_section__anime__info__description__desc {
    font-weight: bold;
  }

  .main_section__anime__info__description__desc span {
    font-weight: normal;

  }

  .main_section__anime__info__description__another__prev_series,
  .main_section__anime__info__description__another__next_series {
    border: solid 1px #9e9e9e;
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 15px;
    border-radius: 15px;
    display: inline-block;
  }

  .main_section__anime__info__description__another__prev_series__div_img,
  .main_section__anime__info__description__another__next_series__div_img {
    display: inline-block;
  }

  .main_section__anime__info__description__another__next_series__div_img__img,
  .main_section__anime__info__description__another__prev_series__div_img__img {
    width: 112px;
    height: 156px;
    vertical-align: bottom;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .main_section__anime__info__description__another__prev_series__description,
  .main_section__anime__info__description__another__next_series__description {
    vertical-align: top;
    display: inline-block;
    width: 67.3%;
    margin-left: auto;
    position: relative;
    height: 156px;
  }

  .main_section__anime__info__description__another__next_series__description_np,
  .main_section__anime__info__description__another__prev_series__description_np {
    height: 25px;
    width: 100px;
    background: darkslategrey;
    padding-left: 15px;
  }

  .main_section__anime__info__description__another__next_series__description_np {
    margin-left: auto;
    margin-right: 10px;
  }

  .main_section__anime__info__description__another__next_series__description a,
  .main_section__anime__info__description__another__prev_series__description a {
    text-decoration: none;
    color: black;
  }

  .main_section__anime__info__description__another__next_series__description_np img,
  .main_section__anime__info__description__another__prev_series__description_np img {
    vertical-align: bottom;
    width: 25px;
  }

  .main_section__anime__info__description__another__next_series__description_np span,
  .main_section__anime__info__description__another__prev_series__description_np span {
    color: white;
    font-family: 'Oswald';
    vertical-align: top;
  }

  .main_section__anime__info__description__another__next_series__description_np a,
  .main_section__anime__info__description__another__prev_series__description_np a {
    text-decoration: none;
    color: black;
  }

  .main_section__anime__info__description__another__prev_series__description_title,
  .main_section__anime__info__description__another__next_series__description_title {
    font-family: "Comfortaa-Regular";
    font-size: 1em;
    padding-left: 7px;
  }

  .main_section__anime__info__description__another__prev_series__description__series,
  .main_section__anime__info__description__another__next_series__description__series {
    position: absolute;
    bottom: 0;
    border-top: solid 1px grey;
    width: 94%;
    font-weight: bold;
    padding-left: 10px;
    font-size: 1em;
  }

  .main_section__anime__info__description__another__prev_series__description__series a,
  .main_section__anime__info__description__another__next_series__description__series a {
    text-decoration: none;
    color: #1E90FF;
  }

  .main_section__anime__info__description__another__prev_series__description__series a img,
  .main_section__anime__info__description__another__next_series__description__series a img {
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
  }

  .main_section__anime__watch__series__left_side h3 {
    margin-top: 0;
    text-align: center;
    font-family: "Comfortaa-Regular";
  }

  .main_section__anime__watch__series__left_side__flexbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px;
  }

  .main_section__anime__watch__series__left_side__flexbox__element {
    padding: 10px 0;
    border: solid 1px grey;
    background: aliceblue;
    border-radius: 15px;
    font-family: "Oswald";
    width: 40px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  #main_section__anime__watch__series__left_side__flexbox__element__active {
    background: cadetblue;
    color: white;
  }

  #seriaH3 {
    text-align: center;
    font-family: "Comfortaa-Regular";
    font-size: 1em;
  }

  #iframe {
    border: none;
    margin-left: 35px;
    width: 80%;
  }

  .links {
    background: #25292b;
    padding-bottom: 10px;
  }

  .links__div1 {
    vertical-align: top;
  }

  .links__title {
    margin-left: 40px;
    color: #FFF;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-family: "Comfortaa-Regular";
  }

  .links__ul {
    list-style: none;
    color: grey;
    font-size: 1em;
    font-family: "Oswald";
    margin-top: 0;
    margin-bottom: 0;
  }

  .links__ul li a {
    text-decoration: none;
    color: inherit;
  }

  .links__ul li a img {
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
  }

  .links__div2 {
    vertical-align: top;
  }

  .links__div3 {
    display: none;
  }

  #to_top_button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    background: #1E90FF;
    border-radius: 7px;
    padding: 5px 10px;
    opacity: 80%;
    display: none;
  }

  #to_top_button button {
    display: block;
    text-decoration: none;
    color: white;
    background: inherit;
    border: none;
  }

  #to_top_button button img {
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 2px;
  }

  #to_top_button button span {
    font-family: "Oswald";
    font-size: 1.3em;
  }

  footer {
    display: none;
  }
}