body {
  margin: 0;
  background: #F5F5F5;
  position: relative;
}

@media screen and (min-width: 469px) {                                          /*Стили для компа и планшета*/
  header {
    height: 52px;
    background: #000000;
    margin: 0;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 2;
    top: 0;
  }

  .header__navigation {
    width: 1170px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .header__navigation__first_a {
    text-decoration: none;
    margin-right: 15px;
  }

  .header__navigation__first_a__img {
    width: 45px;
    vertical-align: middle;
    margin-top: 3px;
  }

  .header__navigation__first_a__h1 {
    font-family: "Comfortaa-Regular";
    font-size: 2.3em;
    vertical-align: bottom;
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .header__navigation__buttons {
    list-style: none;
    vertical-align: middle;
    display: inline;
    font-family: "Oswald";
  }

  .header__navigation__buttons__li__active {
    display: inline;
    font-size: 1.3em;
    border: solid 1px #71B9FF;
    border-radius: 7px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
  }

  .header__navigation__buttons__li__active a,
  .header__navigation__buttons__li a {
    text-decoration: none;
    color: white;
  }

  .header__navigation__buttons__li__active a img,
  .header__navigation__buttons__li a img {
    width: 20px;
    margin-right: 5px;
  }

  .header__navigation__buttons__li {
    display: inline;
    font-size: 1.3em;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 7px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    box-sizing:content-box;
  }

  .header__navigation__buttons__li:hover {
    border: solid 1px white;
  }

  #autorisation_window {
    position: absolute;
    z-index: 2;
    top: 600px;
    right: 15px;
    display: none;
  }

  #autorisation_window iframe {
    height: 180px;
    width: 200px;
    border: solid 1px black;
    border-radius: 15px;
    background: black;
  }

  .header__navigation form {
    display: inline-block;
    margin: 0;
    margin-left: 6px;
  }

  .header__navigation form button {
    padding: 4px;
    vertical-align: middle;
    border: solid 1px #69ccff;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #69b5ff;
  }

  .header__navigation form button img {
    width: 28px;
  }

  .header__navigation form input {
    height: 34px;
    padding-left: 10px;
    border: solid 1px #69ccff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 1em;
  }

  .main_section {
    width: 1170px;
    background: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  }

  .main_section__menu__buttons {
    list-style: none;
    margin-top: 0;
    border-bottom: solid 1px #DCDCDC;
    margin-bottom: 0;
  }

  .main_section__menu__buttons__active {
    display: inline-block;
    border: solid 1px black;
    border-bottom: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .main_section__menu__buttons li {
    display: inline-block;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .main_section__menu__buttons li:hover {
    background: #69b5ff;
  }

  .main_section__menu__buttons li a {
    display: inline-block;
    width: 100%;
  }

  .main_section__menu__buttons li a img {
    display: inline-block;
    margin-right: 2px;
    width: 20px;
    vertical-align: text-bottom;
  }

  .main_section__menu__buttons li a span {
    display: inline-block;
    font-size: 1.2em;
    font-family: "Oswald";
    color: black;
  }

  .main_section__menu__genres__all_genres ul {
    display: table;
    padding-left: 45px;
  }

  .main_section__menu__genres__all_genres ul li {
    display: inline-block;
    width: 200px;
    border: solid 1px black;
    background: gray;
    margin-right: 10px;
    margin-left: 0;
    padding: 3px;
    border-radius: 10px;
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
    color: white;
  }

  .main_section__menu__genres__all_genres ul li:hover {
    background: cornflowerblue;
    color: black ;
  }

  .main_section__menu__genres__all_genres ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  #menuGenres_mobile,
  #menuYear_mobile,
  #main_section__menu__genres_mobile,
  #main_section__menu__year_mobile {
    display: none;
  }

  .content section h3 {
    font-family: "Comfortaa-Regular";
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .content__genres {
    width: 95%;
    margin-left: auto;
    overflow: hidden;
    margin-right: auto;
    background: #69b5ff;
    border-radius: 15px;
    position: relative;
  }

  .content__genres__toLeft {
    opacity: 80%;
    width: 314px;
    height: 30px;
    position: absolute;
    top: 140px;
    left: -142px;
    border-bottom: solid 1px black;
    transform: rotate(-90deg);
    background: #16222A;
    z-index: 1;
  }

  .content__genres__toRight {
    opacity: 80%;
    width: 314px;
    height: 30px;
    position: absolute;
    top: 140px;
    right: -142px;
    border-bottom: solid 1px black;
    transform: rotate(90deg);
    background: #16222A;
    z-index: 1;
  }

  .content__genres__toLeft:hover,
  .content__genres__toRight:hover {
    opacity: 100%;
  }

  .content__genres ul {
    list-style: none;
    display: inline-flex;
    width: 9999px;
    height: 280px;
    padding-left: 15px;
    transition: 1s;
  }

  .content__genres__li,
  .content__genres__li_end,
  .content__year__element {
    display: inline-block;
    border: solid 1px black;
    border-radius: 15px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    height: 280px;
    box-sizing: border-box;
  }

  .content__year__element {
    width: 212px;
    height: 290px;
    margin-bottom: 10px;
  }

  .content__genres__li_end {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .content__genres__li_end:hover {
    background: lightseagreen;
  }

  .content__genres__li_end a {
    display: block;
    text-decoration: none;
    color: black;
  }

  .content__genres__li_end a img {
    margin-top: 40px;
    width: 200px;
  }

  .content__genres__li_end a span {
    position: absolute;
    font-size: 2.5em;
    font-family: "Comfortaa-Regular";
    top: 100px;
    left: 55px;
    text-align: center;
  }

  .content__genres__li:hover,
  .content__year__element:hover {
    background: azure !important;
    transition: 1s;
  }

  .content__genres__li a,
  .content__year a {
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .content__genres__li a h5,
  .content__year__element a h5 {
    font-family: "Comfortaa-Regular";
    font-size: 0.95em;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
    text-align: center;
  }

  .content__genres__li a span,
  .content__genres__li a p,
  .content__year__element a span,
  .content__year__element a p {
    margin-top: 5px;
    display: none;
    font-size: 0.9em;
  }

  .content__year {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 15px;
    padding-left: 10px;
  }

  .content__year__element__yearImg {
    width: 50px;
    margin-top: 235px;
  }

  .content__year__element__yearSpan {
    position: absolute;
    bottom: 30px;
    font-size: 1em;
    left: 9px;
    font-weight: bold;
  }

  #main_section__menu__year {
    display: none;
  }

  .links {
    height: 200px;
    background: #25292b;
  }

  .links__div1 {
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }

  .links__title {
    margin-left: 40px;
    color: #FFF;
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.1em;
    font-family: "Comfortaa-Regular";
  }

  .links__ul {
    list-style: none;
    color: grey;
    font-size: 1em;
    font-family: "Oswald";
  }

  .links__ul li a {
    text-decoration: none;
    color: inherit;
  }

  .links__ul li a img {
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
  }

  .links__div2 {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }

  .links__div3 {
    display: inline-block;
    width: 37%;
  }

  .links__div3 p {
    font-size: 0.75em;
    color: grey;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .links__div3__site_logo {
    margin-left: 148px;
  }

  .links__div3__site_logo img {
    width: 45px;
    vertical-align: middle;
    margin-top: 3px;
    margin-right: 1px;
  }

  .links__div3__site_logo h3 {
    font-family: "Comfortaa-Regular";
    font-size: 2.3em;
    vertical-align: bottom;
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  #to_top_button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
    background: #1E90FF;
    border-radius: 7px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 80%;
    display: none;
  }

  #to_top_button button {
    display: block;
    text-decoration: none;
    color: white;
    background: inherit;
    border: none;
  }

  #to_top_button button img {
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 2px;
  }

  #to_top_button button span {
    font-family: "Oswald";
    font-size: 1.3em;
  }

  footer {
    height: 64px;
    background: #000;
    text-align: center;
  }

  footer div {
    color: #ccc;
    font-size: 0.8em;
    padding-top: 14px;
  }
}

@media screen and (max-width: 469px) {                                          /*Стили для мобильника*/
  header {
    position: relative;
    min-height: 50px;
    background-color: #222;
    border: 1px solid #080808;
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  .header__navigation {
    text-align: center;
  }

  .header__navigation__first_a {
    text-decoration: none;
    margin-left: 15px;
  }

  .header__navigation__first_a__img {
    width: 30px;
    vertical-align: baseline;
    margin-top: 3px;
  }

  .header__navigation__first_a__h1 {
    font-family: "Comfortaa-Regular";
    font-size: 1.7em;
    vertical-align: bottom;
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .header__navigation__buttons {
    list-style: none;
    vertical-align: middle;
    display: inline-block;
    font-family: "Oswald";
    padding: 0;
    margin-top: 10px;
    margin-bottom: 13px;
  }

  .header__navigation__buttons__li__active {
    display: inline;
    font-size: 1em;
    border: solid 1px #71B9FF;
    border-radius: 7px;
    padding: 4px 10px 6px;
  }

  .header__navigation__buttons__li__active a,
  .header__navigation__buttons__li a {
    text-decoration: none;
    color: white;
  }

  .header__navigation__buttons__li__active a img,
  .header__navigation__buttons__li a img {
    width: 15px;
  }

  .header__navigation__buttons__li {
    display: inline;
    font-size: 1em;
    border-radius: 7px;
    padding: 4px 4px 6px;
    box-sizing: content-box;
  }

  #autorisation_window {
    position: absolute;
    z-index: 2;
    top: 600px;
    right: 15px;
    display: none;
  }

  #autorisation_window iframe {
    height: 180px;
    width: 200px;
    border: solid 1px black;
    border-radius: 15px;
    background: black;
  }

  .header__navigation form {
    display: inline-block;
    margin: 0 0 0 6px;
  }

  .header__navigation form button {
    padding: 4px;
    vertical-align: middle;
    border: solid 1px #69ccff;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #69b5ff;
  }

  .header__navigation form button img {
    width: 28px;
  }

  .header__navigation form input {
    height: 34px;
    padding-left: 10px;
    border: solid 1px #69ccff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 1em;
    width: 290px;
  }

  .main_section {
    background: white;
    margin-right: auto;
    margin-left: auto;
  }

  .main_section__menu__buttons {
    list-style: none;
    margin-top: 0;
    border-bottom: solid 1px #DCDCDC;
    margin-bottom: 0;
  }

  .main_section__menu__buttons__active {
    display: inline-block;
    border: solid 1px black;
    border-bottom: none;
    padding: 5px 15px 5px 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .main_section__menu__buttons li {
    display: inline-block;
    padding: 5px 15px 5px 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .main_section__menu__buttons li a {
    display: inline-block;
    width: 100%;
  }

  .main_section__menu__buttons li a img {
    display: inline-block;
    margin-right: 2px;
    width: 15px;
  }

  .main_section__menu__buttons li a span {
    display: inline-block;
    font-size: 1em;
    font-family: "Oswald";
    color: black;
  }

  #menuGenres,
  #menuYear,
  #main_section__menu__genres,
  #main_section__menu__year {
    display: none;
  }


  .content section h3 {
    font-family: "Comfortaa-Regular";
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .content__genres {
    width: 95%;
    margin-left: auto;
    overflow: hidden;
    margin-right: auto;
    background: #69b5ff;
    border-radius: 15px;
    position: relative;
  }

  .content__genres__toLeft {
    opacity: 80%;
    width: 250px;
    height: 20px;
    position: absolute;
    top: 110px;
    left: -115px;
    border-bottom: solid 1px black;
    transform: rotate(-90deg);
    background: #16222A;
    z-index: 1;
  }

  .content__genres__toRight {
    opacity: 80%;
    width: 250px;
    height: 20px;
    position: absolute;
    top: 110px;
    right: -115px;
    border-bottom: solid 1px black;
    transform: rotate(90deg);
    background: #16222A;
    z-index: 1;
  }

  .content__genres ul {
    display: flex;
    height: 230px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    overflow-x: auto;
    list-style: none;
  }

  .content__genres__li,
  .content__genres__li_end,
  .content__year__element {
    border: solid 1px black;
    border-radius: 15px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 150px;
    height: 220px;
    box-sizing: border-box;
  }

  .content__year__element {
    width: 168px;
    height: 240px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 5px;
  }

  .content__genres__li_end {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    background: lightseagreen;
  }

  .content__genres__li_end a {
    display: block;
    text-decoration: none;
    color: black;
  }

  .content__genres__li_end a img {
    margin-top: 40px;
    width: 150px;
  }

  .content__genres__li_end a span {
    position: absolute;
    font-size: 2.5em;
    font-family: "Comfortaa-Regular";
    top: 80px;
    left: 30px;
    text-align: center;
  }

  .content__genres__li:hover,
  .content__year__element:hover {
    background: azure !important;
    transition: 1s;
  }

  .content__genres__li a,
  .content__year a {
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .content__genres__li a h5,
  .content__year__element a h5 {
    font-family: "Comfortaa-Regular";
    font-size: 0.5em;
    margin-top: 2px;
    margin-bottom: 0;
    text-align: center;
    background: white;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .content__genres__li a span,
  .content__genres__li a p,
  .content__year__element a span,
  .content__year__element a p {
    margin-top: 5px;
    display: none;
    font-size: 0.9em;
  }

  .content__year {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-top: 15px;
  }

  .content__year__element__yearImg {
    width: 50px;
    margin-top: 235px;
    width: 40px;
    position: absolute;
    bottom: 2px;
    left: 1px;
  }

  .content__year__element__yearSpan {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 7px;
    color: black;
  }

  #main_section__menu__year_mobile {
    display: none;
  }

  .links {
    background: #25292b;
    padding-bottom: 10px;
  }

  .links__div1 {
    vertical-align: top;
  }

  .links__title {
    margin-left: 40px;
    color: #FFF;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-family: "Comfortaa-Regular";
  }

  .links__ul {
    list-style: none;
    color: grey;
    font-size: 1em;
    font-family: "Oswald";
    margin-top: 0;
    margin-bottom: 0;
  }

  .links__ul li a {
    text-decoration: none;
    color: inherit;
  }

  .links__ul li a img {
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
  }

  .links__div2 {
    vertical-align: top;
  }

  .links__div3 {
    display: none;
  }

  #to_top_button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    background: #1E90FF;
    border-radius: 7px;
    padding: 5px 10px;
    opacity: 80%;
    display: none;
  }

  #to_top_button button {
    display: block;
    text-decoration: none;
    color: white;
    background: inherit;
    border: none;
  }

  #to_top_button button img {
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 2px;
  }

  #to_top_button button span {
    font-family: "Oswald";
    font-size: 1.3em;
  }

  footer {
    display: none;
  }
}
