@font-face {							 /*Шрифт Presentscript-cyrillic*/
	font-family: "Presentscript-cyrillic";
	src: url("../../../../fonts/presentscript-cyrillic.ttf");
	url("../../../../fonts/presentscript-cyrillic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

html,body	{margin:0; padding:0;}

@media all and (orientation: portrait) {
	.rotate {
		height: 100%;
		width: 100%;
		z-index:1005;
		background: url(../pics/1.jpg) 100% no-repeat;
		background-size: cover;
		position:absolute;
		top:0;
	}
	.rotate img, .rotate p {position: absolute;bottom: 0.5%;}
	.rotate p {right:15%;font-size: 2em;bottom: 2%;margin-bottom:0; padding:0;}
	.rotate img{width: 70px;border:none}
}

body{
	overflow:auto;
	background: url('../pics/magazine_background.jpg') no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: 100%; /* Современные браузеры */
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #dfe9f3;
  z-index: 1006;
}

.preloader__image {
  position: relative;
  top: 45%;
  left: 45%;
  width: 300px;
  height: 200px;
  margin-top: -32px;
  margin-left: -32px;
  background: url('../../../../images/Vanilla-1s-280px.gif') no-repeat 50% 50%;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

@media all and (orientation: landscape) {

	.rotate {
		display: none

	}

	.navBurger {
		position: fixed;
		left: 20px;
		top: 20px;
		cursor: pointer;
		background: #111;
		box-sizing: border-box;
		background-clip: content-box;
		width: 30px;
		height: 24px;
		border-top: 11px solid transparent;
		border-bottom: 11px solid transparent;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
		z-index: 1005;
	}
	.navBurger span {position: relative;left: 35px;bottom: 7px}
	.navBurger:before, .navBurger:after {
		content: "";
		position: absolute;
		background: #111;
		height: 2px;
		width: 100%;
		left: 0;
		will-change: rotate;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.navBurger:before {
		top: -10px;
	}
	.navBurger:after {
		bottom: -10px;
		width: 90%;
	}
	.navBurger.active {
		background: transparent;
		background-clip: content-box;
	}
	.navBurger.active:before {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		top: 0;
		background: #eee;
		width: 110%;
	}
	.navBurger.active:after {
		bottom: 0;
		-webkit-transform: rotate(-135deg);
		transform: rotate(-135deg);
		background: #eee;
		width: 110%;
	}

	.overlay {
		position: fixed;
		background: #2a3140;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		-webkit-transform-origin: left top;
		transform-origin: left top;
		-webkit-transform: scale(0);
		transform: scale(0);
		visibility: hidden;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		overflow: hidden;
	}
	.overlay.open {
		opacity: 0.99;
		visibility: visible;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.overlay.open li {
		display: block;
		-webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
		animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
		-webkit-transform: rotate(-7deg);
		transform: rotate(-7deg);
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
	}
	.overlay.open li:nth-of-type(2) {
		-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s;
	}
	.overlay.open li:nth-of-type(3) {
		-webkit-animation-delay: 0.35s;
		animation-delay: 0.35s;
	}
	.overlay.open li:nth-of-type(4) {
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
	}
	.overlay.open li:nth-of-type(5) {
		-webkit-animation-delay: 0.45s;
		animation-delay: 0.45s;
	}
	.overlay.open li:nth-of-type(6) {
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
	}
	.overlay.open li:nth-of-type(7) {
		-webkit-animation-delay: 0.55s;
		animation-delay: 0.55s;
	}
	.overlay.open li:nth-of-type(8) {
		-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s;
	}
	.overlay.open li:nth-of-type(9) {
		-webkit-animation-delay: 0.65s;
		animation-delay: 0.65s;
	}
	.overlay.open li:nth-of-type(10) {
		-webkit-animation-delay: 0.7s;
		animation-delay: 0.7s;
	}
	.overlay.open li:nth-of-type(11) {
		-webkit-animation-delay: 0.75s;
		animation-delay: 0.75s;
	}
	.overlay.open li:nth-of-type(12) {
		-webkit-animation-delay: 0.8s;
		animation-delay: 0.8s;
	}

	.overlayMenu {
		position: absolute;
		text-align: right;
		right: 2vw;
		top: 3vw;
	}
	.overlayMenu ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: block;
		position: relative;
		height: 100%;
	}
	.overlayMenu ul li {
		display: block;
		position: relative;
		opacity: 0;
		width: 100%;
	}
	.overlayMenu ul li a {
		display: inline-block;
		border: 1px solid rgba(255, 255, 255, 0.09);
		color: #fff;
		text-decoration: none;
		font-size: 0.95em;
		padding: 5px 40px 5px 40px;
		margin: 5px 0;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
	.overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
		padding-left: 80px;
		outline: 1px solid rgba(255, 255, 255, 0.3);
		background: rgba(255, 255, 255, 0.03);
		color: #10c9c3;
	}

	.locked {
		overflow: hidden;
	}

	@-webkit-keyframes fadeInRight {
		0% {
			opacity: 0;
			left: 50px;
		}
		100% {
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}

	@keyframes fadeInRight {
		0% {
			opacity: 0;
			left: 50px;
		}
		100% {
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}

	.rotate {
		display: none;
	}

	.navigation button {
		font-size: 14pt;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 15px;
		padding-right: 15px;
		border: solid 1px #663399;
		border-radius: 5px;
		color: black;
		font-family: 'Presentscript-cyrillic';
		display: block;
		text-decoration: none;
		background-color: white;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: auto;
		overflow: auto;
		margin-bottom: 25px;
		font-size: 9pt;
	}

	li a {
		display: block;
		color: #000;
		padding: 4px 16px;
		text-decoration: none;
	}

	li a:hover {
		background-color: #10c9c3;
		color: #0066FF;
	}

	.navigation {
		width: 180px;
		height: 90%;
		overflow-y: auto;
	}

	.navigation_button:hover, .navigation_button:focus {
		background-color: #10c9c3;
	}

	.navigation {
		display: inline-block;
		position: fixed;
		/*z-index:800;*/
		top: 10px;
		left: 10px;
	}

	.nav-content {
		display: none;
		position: absolute;
		background-color: whitesmoke;
		margin: 0;
		left: 0;
		top: 45px;
		overflow: auto;
		border: solid 1px #10c9c3;
		border-radius: 15%;
		max-height: 80%;
		z-index: 1003;
	}

	.navigation a:hover {
		background-color: #ddd;
	}

	.nav_show {
		display: block;
	}

	.dropdown {
		display: inline-block;
		position: fixed;
		/*z-index:800;*/
		bottom: 10px;
		left: 10px;
	}

	.dropdown a:hover {
		background-color: #ddd;
	}

	.link_buttons a {
		font-size: 12pt;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 15px;
		padding-right: 15px;
		border: solid 1px #663399;
		border-radius: 5px;
		color: black;
		font-family: 'Presentscript-cyrillic';
		display: block;
		text-decoration: none;
		background-color: white;
		margin-top: 10px;
		text-align: center;
	}

	.link_buttons a:hover, .link_buttons a:focus {
		background-color: #2980B9;
	}

	.description_of_magazine {
		padding-top: 10px;
		padding-left: 5px;
		position: sticky;
		bottom: 10px;
		border-top: dashed 1px #303f9f;
		background-color: whitesmoke;
		background-color: whitesmoke;
	}

	.description_of_magazine p {
		padding: 0;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 9pt;
	}

	.description_of_magazine span {
		padding-left: 10px;
		text-transform: uppercase;
		font-size: 8pt;
	}

	.description_of_magazine span a {
		text-transform: none;
		text-decoration: none;
		color: #303f9f;
	}

	.magazine-viewport {
		position: relative;
	}

	.magazine-viewport .container {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 300px;
		height: 600px;
		margin: auto;
	}

	.magazine-viewport .magazine {
		width: 922px;
		height: 600px;
		left: -461px;
		top: -300px;
	}

	.magazine-viewport .page {
		width: 461px;
		height: 600px;
		background-color: white;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.magazine-viewport .zoomer .region {
		display: none;
	}

	.magazine .region {
		position: absolute;
		overflow: hidden;
		background: #0066FF;
		opacity: 0.2;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
		cursor: pointer;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
		filter: alpha(opacity=20);
	}

	.magazine .region:hover {
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	.magazine .region.zoom {
		opacity: 0.01;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		filter: alpha(opacity=1);
	}

	.magazine .region.zoom:hover {
		opacity: 0.2;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
		filter: alpha(opacity=20);
	}

	.magazine .page {
		-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}

	.magazine-viewport .page img {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		margin: 0;
	}

	.magazine .even .gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: -webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.2)));
		background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
		background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
		background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
		background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
		background-image: linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
	}

	.magazine .odd .gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: -webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.15)));
		background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
		background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
		background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
		background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
		background-image: linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
	}

	.magazine-viewport .zoom-in .even .gradient,
	.magazine-viewport .zoom-in .odd .gradient {
		display: none;
	}

	.magazine-viewport .loader {
		background-image: url(../pics/loader.gif);
		width: 22px;
		height: 22px;
		position: absolute;
		top: 280px;
		left: 219px;
	}

	.magazine-viewport .shadow {
		-webkit-transition: -webkit-box-shadow 0.5s;
		-moz-transition: -moz-box-shadow 0.5s;
		-o-transition: -webkit-box-shadow 0.5s;
		-ms-transition: -ms-box-shadow 0.5s;

		-webkit-box-shadow: 0 0 20px #ccc;
		-moz-box-shadow: 0 0 20px #ccc;
		-o-box-shadow: 0 0 20px #ccc;
		-ms-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc;
	}

	.magazine-viewport .next-button,
	.magazine-viewport .previous-button {
		width: 42px;
		height: 600px;
		position: absolute;
		top: 0;
	}

	.magazine-viewport .next-button {
		right: -42px;
		-webkit-border-radius: 0 15px 15px 0;
		-moz-border-radius: 0 15px 15px 0;
		-ms-border-radius: 0 15px 15px 0;
		-o-border-radius: 0 15px 15px 0;
		border-radius: 0 15px 15px 0;
	}

	.magazine-viewport .previous-button {
		left: -40px;
		-webkit-border-radius: 15px 0 0 15px;
		-moz-border-radius: 15px 0 0 15px;
		-ms-border-radius: 15px 0 0 15px;
		-o-border-radius: 15px 0 0 15px;
		border-radius: 15px 0 0 15px;
	}

	.magazine-viewport .previous-button-hover,
	.magazine-viewport .next-button-hover {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.magazine-viewport .previous-button-hover,
	.magazine-viewport .previous-button-down {
		background-image: url(../pics/arrows.png);
		background-position: -4px 284px;
		background-repeat: no-repeat;
	}

	.magazine-viewport .previous-button-down,
	.magazine-viewport .next-button-down {
		background-color: rgba(0, 0, 0, 0.4);
	}

	.magazine-viewport .next-button-hover,
	.magazine-viewport .next-button-down {
		background-image: url(../pics/arrows.png);
		background-position: -38px 284px;
		background-repeat: no-repeat;
	}

	.magazine-viewport .zoom-in .next-button,
	.magazine-viewport .zoom-in .previous-button {
		display: none;
	}

	.animated {
		-webkit-transition: margin-left 0.5s;
		-moz-transition: margin-left 0.5s;
		-ms-transition: margin-left 0.5s;
		-o-transition: margin-left 0.5s;
		transition: margin-left 0.5s;
	}

	.thumbnails {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 140px;
		z-index: 1;
	}

	.thumbnails > div {
		width: 1050px;
		height: 100px;
		margin: 20px auto;
	}

	.thumbnails ul {
		margin: 0;
		padding: 0;
		text-align: center;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		-moz-transform: scale3d(0.5, 0.5, 1);
		-o-transform: scale3d(0.5, 0.5, 1);
		-ms-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
		-webkit-transition: -webkit-transform ease-in-out 100ms;
		-moz-transition: -moz-transform ease-in-out 100ms;
		-ms-transition: -ms-transform ease-in-out 100ms;
		-o-transition: -o-transform ease-in-out 100ms;
		transition: transform ease-in-out 100ms;
	}

	.thumbanils-touch ul {
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.thumbnails-hover ul {
		-webkit-transform: scale3d(0.6, 0.6, 1);
		-moz-transform: scale3d(0.6, 0.6, 1);
		-o-transform: scale3d(0.6, 0.6, 1);
		-ms-transform: scale3d(0.6, 0.6, 1);
		transform: scale3d(0.6, 0.6, 1);
	}

	.thumbnails li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
		-webkit-box-shadow: 0 0 10px #ccc;
		-moz-box-shadow: 0 0 10px #ccc;
		-ms-box-shadow: 0 0 10px #ccc;
		-o-box-shadow: 0 0 10px #ccc;
		box-shadow: 0 0 10px #ccc;
		-webkit-transition: -webkit-transform 60ms;
		-moz-transition: -webkit-transform 60ms;
		-o-transition: -webkit-transform 60ms;
		-ms-transition: -webkit-transform 60ms;
		transition: -webkit-transform 60ms;
	}

	.thumbnails li span {
		display: none;
	}

	.thumbnails .current {
		-webkit-box-shadow: 0 0 10px red;
		-moz-box-shadow: 0 0 10px red;
		-ms-box-shadow: 0 0 10px red;
		-o-box-shadow: 0 0 10px red;
		box-shadow: 0 0 10px red;
	}

	.thumbnails .thumb-hover {
		-webkit-transform: scale3d(1.3, 1.3, 1);
		-moz-transform: scale3d(1.3, 1.3, 1);
		-o-transform: scale3d(1.3, 1.3, 1);
		-ms-transform: scale3d(1.3, 1.3, 1);
		transform: scale3d(1.3, 1.3, 1);

		-webkit-box-shadow: 0 0 10px #666;
		-moz-box-shadow: 0 0 10px #666;
		-ms-box-shadow: 0 0 10px #666;
		-o-box-shadow: 0 0 10px #666;
		box-shadow: 0 0 10px #666;
	}

	.thumbanils-touch .thumb-hover {
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.thumbnails .thumb-hover span {
		position: absolute;
		bottom: -30px;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 30px;
		font: bold 15px arial;
		line-height: 30px;
		color: #666;
		display: block;
		cursor: default;
	}

	.thumbnails img {
		float: left;
	}

	.exit-message {
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 40px;
		z-index: 10000;
	}

	.exit-message > div {
		width: 140px;
		height: 30px;
		margin: auto;
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		font: 12px arial;
		line-height: 30px;
		color: white;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
	}

	.zoom-icon {
		position: absolute;
		z-index: 1000;
		width: 22px;
		height: 22px;
		top: 10px;
		right: 10px;
		background-image: url(../pics/zoom-icons.png);
		background-size: 88px 22px;
	}

	.zoom-icon-in {
		background-position: 0 0;
		cursor: pointer;
	}

	.zoom-icon-in.zoom-icon-in-hover {
		background-position: -22px 0;
		cursor: pointer;
	}

	.zoom-icon-out {
		background-position: -44px 0;
	}

	.zoom-icon-out.zoom-icon-out-hover {
		background-position: -66px 0;
		cursor: pointer;
	}

	.bottom {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}
}
